
#logo {
    display: block;
    margin-left: auto;
    margin-top: 215px;
    margin-right: auto;

}

#searchbar {
    
    display: block;
    position: absolute;
    left: 650px;
    margin-top: 30px;
    width: 500px;
    height: 48px;
    border-radius: 25px;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
    border-width: 1px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;

}


.topnav {
    display: inline-block;
    position: static;
    margin-top: 6px;
    font-size: 14px;
    font-family: Arial;
    color: black;
    text-decoration: none;
    padding: 7px;

}

.topnav:hover {
 
text-decoration: underline; 
   

}

#About {
    display: inline-block;
    position: static;
    margin-left: 10px;
}

#Gmail {
    display: inline-block;
    position: static;
    margin-left: 1520px;
    font-size: 13px;
    padding: 6px;
    
}

#Images {
    display: inline-block;
    position: static;
    font-size: 13px;
    padding: 6px;

}

#AppsIcon {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 6px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    
}

#SignIn {
    display: inline-block;
    position: relative;
    background-color: rgb(23, 114, 233);
    width: 100px;
    height: 33px;
    left: 15px;
    border-radius: 5px;
    box-shadow: none;
    color: white;
    font-size: 15px;
    border: none;
    padding: 0px;
    cursor: pointer;
}

#SignIn:hover {
    background-color:rgb(50, 127, 226)
}

#SearchIcon {
    display: inline-block;
    position: absolute;
    left: 675px;
    margin-top: 45px;
    z-index: 2;

}

.searchbutton {

    display: inline-block;
    position: relative;
    margin-top: 100px;
    width: 127px;
    height:  36px;
    background-color:rgb(245, 245, 245);
    border-radius: 5px;
    left: 820px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    border: rgb(254, 255, 255);
    cursor: pointer;

}

.searchbutton:hover {
    outline: gray;
    outline-width: 10px;

}